{% extends 'base.html' %}
{% block title %}{{ 'login' }} {% endblock %}
{% block freebody %}

    <div class="denglu">
    <form method="post"  method = "post">
        <div class="ui input" name="username">
            用户名:
            <input type="text" placeholder="Username">
        </div>
        <div class="ui input"  name="password">
            密码:
            <input type="text" placeholder="Password">
        </div>
        <button class="ui button">
            Submit
        </button>
{% if message %} {{message}} {% endif %}
    </form>f
    </div>


{% endblock %}